html {
  font-size: 16px;
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
}

:root {
  --primary-color: #FF5C00;
  --secondary-color: #181818;
  --bgc-color: white;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 30px;
  border: 3px solid var(--primary-color);
}

nav.navbar {
  background-color: var(--primary-color);
}
nav.navbar .container-fluid {
  width: 90%;
}
nav.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
nav.navbar .navbar-brand img {
  width: 8rem;
}
@media (max-width: 992px) {
  nav.navbar .navbar-brand img {
    width: 5rem;
  }
}
nav.navbar ul.navbar-nav {
  width: 55%;
}
@media (max-width: 992px) {
  nav.navbar ul.navbar-nav {
    width: 100% !important;
  }
}
nav.navbar .nav-link {
  font-family: "Samsung Sharp Sans l", sans-serif;
  color: var(--secondary-color) !important;
  font-size: 2rem;
  font-weight: lighter;
}
@media (max-width: 992px) {
  nav.navbar .nav-link {
    text-align: center;
  }
}
nav.navbar .nav-link.active {
  font-weight: bold;
}

.chg {
  background-image: url("../assets/bgc.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.chg .container-lg {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.chg .container-lg .chg-title {
  font-family: "Mulish", sans-serif;
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0;
}
.chg .container-lg .marked {
  color: var(--primary-color) !important;
  font-weight: 800;
}
.chg .container-lg .chg-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}
@media (max-width: 767px) {
  .chg .container-lg .chg-section {
    flex-wrap: wrap;
    width: 100%;
  }
}
.chg .container-lg .chg-section .chg-element {
  position: relative;
  width: 18%;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/cards/gr.png");
  background-size: contain;
  height: 10rem;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
  
}
@media (max-width: 767px) {
  .chg .container-lg .chg-section .chg-element {
    width: 33% !important;
    background-position: center;
  }
}
@media (max-width: 575px) {
  .chg .container-lg .chg-section .chg-element {
    width: 45% !important;
    background-position: center;
  }
}
.chg .container-lg .chg-section .chg-element .chg-num {
  font-size: 1.5rem;
  position: absolute;
  left: 0.75rem;
  color: var(--bgc-color);
}
@media (max-width: 767px) {
  .chg .container-lg .chg-section .chg-element .chg-num {
    left: 5.5rem;
  }
}
@media (max-width: 680px) {
  .chg .container-lg .chg-section .chg-element .chg-num {
    left: 4.5rem;
  }
}
@media (max-width: 575px) {
  .chg .container-lg .chg-section .chg-element .chg-num {
    left: 5.25rem;
  }
}
@media (max-width: 425px) {
  .chg .container-lg .chg-section .chg-element .chg-num {
    left: 3rem;
  }
}
@media (max-width: 319px) {
  .chg .container-lg .chg-section .chg-element .chg-num {
    left: 10px;
  }
}
.chg .container-lg .chg-section .chg-element .chg-text {
  font-size: 1rem;
  width: 6rem;
  position: absolute;
  color: var(--bgc-color);
  top: 2.5rem;
  left: 2rem;
}

@media (max-width: 767px) {
  .chg .container-lg .chg-section .chg-element .chg-text {
    left: 8rem;
  }
}
@media (max-width: 680px) {
  .chg .container-lg .chg-section .chg-element .chg-text {
    left: 7rem;
  }
}
@media (max-width: 575px) {
  .chg .container-lg .chg-section .chg-element .chg-text {
    left: 6rem;
    top: 3rem;
  }
}
@media (max-width: 425px) {
  .chg .container-lg .chg-section .chg-element .chg-text {
    left: 4rem;
  }
 
}










.phr {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-color);
}
.phr .phr-title {
  font-family: "Mulish", sans-serif;
  white-space: normal;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--bgc-color);
  margin: 1rem 0;
}
@media (max-width: 767px) {
  .phr .phr-title {
    font-size: 1rem;
  }
}

.guide {
  display: flex;
  align-content: center;
  width: 100%;
  background-color: var(--bgc-color);
  padding: 2rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.guide .guide-title {
  width: 80%;
  color: var(--secondary-color);
  font-family: "Mulish", sans-serif;
  font-size: 4rem;
  font-weight: 800;
}
@media (max-width: 767px) {
  .guide .guide-title {
    width: 100%;
    font-size: 2rem;
    

  }
}
@media (max-width: 680px) {
  .guide .guide-title{
    left: 7rem;
  }
}
@media (max-width: 575px) {
  .guide .guide-title {
    left: 6rem;
    top: 3rem;
  }
}
@media (max-width: 425px) {
  .guide .guide-title {
    margin-left: 50px;
  }
 
}
.guide .guide-subtitle {
 align-items: center;

  width: 70%;
  color: var(--primary-color);
  font-family: "Mulish", sans-serif;
  font-size: 5rem;
  white-space: nowrap;
  font-style: normal;
  font-weight: 800;
}
@media (max-width: 767px) {
  .guide .guide-subtitle {
    width: 90%;
    font-size: 2rem;
 
  }
}
@media (max-width: 680px) {
  .guide .guide-subtitle {
    width: 80%;
  margin-left: 150px;

  }
}
.guide .guide-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.guide .guide-image img {
  width: 80%;
}

.footer {
  background-color: var(--secondary-color);
  padding: 2rem 0;
}
.footer .container-fluid {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer .container-fluid .footer-items {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}
.footer .container-fluid .footer-items .footer-item {
  font-size: 3rem;
  color: var(--bgc-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  text-wrap: none;
  white-space: nowrap;
  cursor: pointer;
}
@media (max-width: 767px) {
  .footer .container-fluid .footer-items .footer-item {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.footer .container-fluid .footer-items .footer-item span {
  font-size: 0.75rem;
}
.footer .container-fluid .footer-items .footer-item.stick {
  border: 1px solid var(--primary-color);
  height: 50px;
}
@media (max-width: 1199px) {
  .footer .container-fluid .footer-items .footer-item.stick {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer .container-fluid .footer-items:first-child {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .footer .container-fluid .footer-items:last-child {
    width: 100%;
  }
}
.footer .container-fluid img {
  width: 25%;
  cursor: pointer;
}
@media (max-width: 767px) {
  .footer .container-fluid img {
    order: -1;
  }
}

/*# sourceMappingURL=use.css.map */
